NDDigital.Component.Core/Util/middleware.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="TransactionTimeout">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="120"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ThrowExceptions" type="xs:boolean"/>
	<xs:element name="ServerCache">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Database"/>
				<xs:element ref="Name"/>
				<xs:element ref="Port"/>
				<xs:element ref="Server"/>
				<xs:element ref="MaxConnectionsToServer"/>
				<xs:element ref="SerializationKind"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Server">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerializationKind">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Json"/>
				<xs:enumeration value="Binary"/>
				<xs:enumeration value="Xml"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SecondLevelRetries">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SecondLevelInterval">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SecondLevelEnabled" type="xs:boolean"/>
	<xs:element name="ScanAssembliesInNestedDirectories" type="xs:boolean"/>
	<xs:element name="ScanAssemblies">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ScanAssembliesInNestedDirectories" minOccurs="0"/>
				<xs:element ref="ScanAppDomainAssemblies" minOccurs="0"/>
				<xs:element ref="ThrowExceptions" minOccurs="0"/>
				<xs:element ref="ExcludeAssembly" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ExcludeAssemblyRegex" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="IncludeAssemblyRegex" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ScanAppDomainAssemblies" type="xs:boolean"/>
	<xs:element name="Port">
		<xs:simpleType>
			<xs:restriction base="xs:short"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Namespace">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Middleware">
		<xs:annotation>
			<xs:documentation>Tag principal dos apontamentos de processamento</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Endpoint" maxOccurs="unbounded"/>
				<xs:element name="QueueReference" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="Id"/>
							<xs:element ref="Name"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Mapper" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ScanAssemblies" minOccurs="0"/>
				<xs:element ref="Cache" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="AutoRefresh" type="xs:boolean" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MaximumConcurrencyLevel">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MaxRetries">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MaxConnectionsToServer">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Mapper">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EndpointId"/>
				<xs:choice>
					<xs:element name="TypeName"/>
					<xs:element name="Namespace"/>
				</xs:choice>
				<xs:element ref="AssemblyName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IsolationLevel">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Chaos"/>
				<xs:enumeration value="ReadCommitted"/>
				<xs:enumeration value="ReadUncommitted"/>
				<xs:enumeration value="RepeatableRead"/>
				<xs:enumeration value="Serializable"/>
				<xs:enumeration value="Snapshot"/>
				<xs:enumeration value="Unspecified"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IsMemoryPersistence" type="xs:boolean"/>
	<xs:element name="IncludeAssemblyRegex">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Id">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExcludeAssemblyRegex">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ExcludeAssembly">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EndpointId">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Endpoint">
		<xs:annotation>
			<xs:documentation>Representa um ponto de processamento de mensagens. Cada Fila de mensagens é representada por esta estrutura</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Id"/>
				<xs:element ref="Name"/>
				<xs:element name="Process" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="MaxRetries"/>
							<xs:element ref="MaximumConcurrencyLevel"/>
							<xs:element ref="SecondLevelEnabled"/>
							<xs:element ref="SecondLevelRetries"/>
							<xs:element ref="SecondLevelInterval"/>
							<xs:element ref="Audit"/>
							<xs:element name="TimeoutManagerMaximumConcurrencyLevel" type="xs:int" minOccurs="0"/>
							<xs:element name="Subscription" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:choice minOccurs="0">
											<xs:element name="TypeName" type="xs:string"/>
											<xs:element name="Namespace" type="xs:string"/>
										</xs:choice>
										<xs:element name="AssemblyName" type="xs:string"/>
									</xs:sequence>
									<xs:attribute name="unsubscribe" type="xs:boolean" fixed="true"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Publisher" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:choice minOccurs="0">
											<xs:element name="TypeName" type="xs:string"/>
											<xs:element name="Namespace" type="xs:string"/>
										</xs:choice>
										<xs:element name="AssemblyName" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="IsMemoryPersistence"/>
				<xs:element ref="Active"/>
				<xs:element ref="EnableTransaction"/>
				<xs:element ref="EnableDistributeTransaction"/>
				<xs:element ref="TransactionTimeout"/>
				<xs:element ref="IsolationLevel"/>
				<xs:element ref="ScanAssemblies" minOccurs="0"/>
				<xs:element name="Scheduler" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Job" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="JobId" type="xs:string"/>
										<xs:element name="GroupId" type="xs:string"/>
										<xs:element ref="AssemblyName"/>
										<xs:element name="TypeName" type="xs:string"/>
										<xs:element name="JobData" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Key" type="xs:string"/>
													<xs:element name="Value" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnableTransaction" type="xs:boolean"/>
	<xs:element name="EnableDistributeTransaction" type="xs:boolean"/>
	<xs:element name="Database">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Cache">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Active"/>
				<xs:element ref="ServerCache"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Audit" type="xs:boolean"/>
	<xs:element name="AssemblyName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Active" type="xs:boolean"/>
</xs:schema>
